<ion-content>
   
    <svg class="polygonTop" style="stroke:white;stroke-width:1;" viewBox="0 0 128 60">
      <defs>
          <pattern id="img1" patternUnits="userSpaceOnUse" width="128" height="60">
            <image xlink:href="../../assets/images/backgrounds/orangeDots1_s.png" x="0" y="0" width="128" height="60" preserveAspectRatio="xMidYMid slice" />
          </pattern>
      </defs>
      <polygon points="0,0 128,0 128,10 0,12" style="fill: url(#img1)" 
          preserveAspectRatio="xMidYMid meet" />
    </svg>

    <svg class="polygonBottom" style="stroke:white;stroke-width:0.7;" viewBox="0 0 128 60">
      <polygon points="0,55 128,57 128,60 0,60" style="fill: rgb(231, 49, 49)" 
          preserveAspectRatio="xMidYMid meet" />
    </svg>

    <div *ngIf="this.gamesService.reviewMode == 0 && this.gamesService.ratio >= 2" class=bounce1>
      第{{this.apptextService.currentText?.id}}天: {{this.apptextService.currentText?.title}}
    </div>
    <div *ngIf="this.gamesService.reviewMode != 0 && this.gamesService.ratio >= 2" class=bounce1>
      (重溫) 第{{this.apptextService.currentText?.id}}天: {{this.apptextService.currentText?.title}}
    </div>

    <div *ngIf="this.gamesService.reviewMode == 0 && this.gamesService.ratio < 2" class=bounce2>
      第{{this.apptextService.currentText?.id}}天: {{this.apptextService.currentText?.title}}
    </div>
    <div *ngIf="this.gamesService.reviewMode != 0 && this.gamesService.ratio < 2" class=bounce2>
      (重溫) 第{{this.apptextService.currentText?.id}}天: {{this.apptextService.currentText?.title}}
    </div>

    <div class="verseShort" *ngIf="this.apptextService.currentText?.picture != ''">
      <div style="white-space: pre-line;" [innerHTML]="this.apptextService.currentText?.notes"></div>
    </div>

    <div class="verseLong" *ngIf="this.apptextService.currentText?.picture == ''">
      <div style="white-space: pre-line;" [innerHTML]="this.apptextService.currentText?.notes"></div>
    </div>

    <div class="picture" *ngIf="this.apptextService.currentText?.picture != ''">
      <ion-img src='{{this.apptextService.currentText?.picture}}'></ion-img>
    </div>

    <div class="expln">
      <div [innerHTML]="this.apptextService.currentText?.notesexpl"></div>
    </div>
     
    <ion-fab-button  (click)="clickL()" class="buttonL" size=small>
      <ion-img src="../assets/images/back.png"></ion-img>
    </ion-fab-button>
  
    <ion-fab-button  (click)="clickR()" class="buttonR" size=small>
      <ion-img src="../assets/images/forward.png"></ion-img>
    </ion-fab-button>
  
  </ion-content>
  