<ion-content>

  <svg *ngIf="this.gamesService.ratio >= 2" class="polygon" style="stroke:rgb(250, 151, 4);stroke-width:1;" viewBox="0 0 128 72">
    <polygon points="6,0 122,0 122,72 6,72" style="fill: rgb(220, 235, 248)" 
      preserveAspectRatio="xMidYMid meet" />
  </svg>

  <svg *ngIf="this.gamesService.ratio < 2" class="polygon" style="stroke:rgb(250, 151, 4);stroke-width:1;" viewBox="0 0 128 80">
    <polygon points="6,0 122,0 122,80 6,80" style="fill: rgb(220, 235, 248)" 
      preserveAspectRatio="xMidYMid meet" />
  </svg>

  <svg class="polygon" style="stroke:rgb(220, 235, 248);stroke-width:0;" viewBox="0 0 128 60">
    <polygon points="126,35 128,35 128,48" style="fill: rgb(96, 231, 141)" 
       preserveAspectRatio="xMidYMid meet" />
  </svg>
  
  <div *ngIf="this.gamesService.reviewMode == 0" class=bounce>
    第{{this.apptextService.currentText?.id}}天: {{this.apptextService.currentText?.title}}
  </div>

  <div *ngIf="this.gamesService.reviewMode != 0" class=bounce>
    (重溫) 第{{this.apptextService.currentText?.id}}天: {{this.apptextService.currentText?.title}}
  </div>

  <div class="gameText">
    <div [innerHTML]="this.apptextService.currentText.gamesIntro" style="font-size: 18px; line-height: 130%; letter-spacing: 0.05em; margin-top: 0px; margin-bottom: 5px; white-space: pre-line;"></div>
    <div style="color:blue; font-size: 20px; font-weight:400; letter-spacing: 0.1em; margin-top: 8px; margin-bottom: 0px;">{{this.apptextService.currentText.gamesTitle}}</div>    
      
        <div style="display: flex; margin-top: 5px;">
          <div>
              <ion-item lines=none *ngFor="let item of gameQ1, let i=index" style="--min-height: 45px;">
                  <div style="display: inline; font-size: 20px; letter-spacing: 0.1em;">•&nbsp;</div>
                  <div [innerHTML]="this.gameQ1[i]" style="display: inline; font-size: 20px; letter-spacing: 0.1em;"></div>
              </ion-item>             
          </div>

          <div>&nbsp;&nbsp;&nbsp;</div>
          
          <div>
            <ion-reorder-group *ngIf="this.gamesService.correctMatch == 0" (ionItemReorder)="reorderItems($event)" disabled="false">
              <ion-item lines=none *ngFor="let item of gameQ2current, let i=index" style="--min-height: 45px;">
                <ion-button>
                  <ion-reorder slot="end">
                    <div style="font-size: 20px; letter-spacing: 0.1em; vertical-align: middle; display: inline-block;">
                      {{this.gameQ2current[i]}}
                    </div>
                  </ion-reorder>
                </ion-button>
              </ion-item>            
            </ion-reorder-group>
            <div *ngIf="this.gamesService.correctMatch == 1">
              <ion-item lines=none *ngFor="let item of gameQ2current, let i=index" style="--min-height: 45px;">
                <div style="font-size: 20px; letter-spacing: 0.1em;">
                  <ion-icon name="arrow-dropright"></ion-icon>
                  <div style="display: inline;">{{this.gameQ2current[i]}}</div>
                  <div style="color: red; display: inline;">&nbsp;&#10004;</div>
                </div>
              </ion-item>            
            </div>
          </div>
        </div>

        <div [innerHTML]="this.apptextService.currentText.gamesFootnote" style="font-size: 20px; line-height: 130%; letter-spacing: 0.05em; margin-top: 5px; margin-bottom: 0px; white-space: pre-line;"></div>
    
  </div>
 
  <ion-fab-button  (click)="clickL()" class="buttonL" size=small>
    <ion-img src="../assets/images/back.png"></ion-img>
  </ion-fab-button>

  <ion-fab-button  (click)="clickR()" class="buttonR" size=small>
    <ion-img src="../assets/images/forward.png"></ion-img>
  </ion-fab-button>

</ion-content>
