<ion-content>

  <div>
    <ion-img src="../assets/images/version1/verse1.png"></ion-img>
    <ion-img src="../assets/images/version1/verse2.png"></ion-img>
    <ion-img src="../assets/images/version1/verse3.jpg"></ion-img>
    <ion-img src="../assets/images/version1/verse4.jpg"></ion-img>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="clickL()">
    <ion-fab-button size=small>
      <ion-img src="../assets/images/back.png"></ion-img>
    </ion-fab-button>
  </ion-fab>

</ion-content>
