//ion-content {
//    --background: none;
//    background-image: linear-gradient(#C0C0C0, #F0F8FF, #C0C0C0);
//    --overflow: hidden;
//  }

  ion-content{
    //--background: url(../../assets/images/purpleDots.png) 0 0/100% 100% no-repeat;
    --background: url(../../assets/images/backgrounds/redDots1.png) 0 0/100% 200% no-repeat;
    --overflow: hidden;
  }

  .polygon {
    position: absolute;
    //resize: horizontal;
    //width: 100vh;
    left: 0%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .bounce {
    position: absolute;
    left: 45%;
    top: 3%;
    width: 51%;
    text-align: right;
    color: rgb(240, 217, 217);
    font-weight:500;
    font-family: Microsoft JhengHei;
    font-size: 18px;
    animation-duration: 2s;
    animation-name: bounceIn;
  }

  .diamonds { // used in version 2 only
    display: none;
    position: absolute;
    left: 8%;
    top: 9%;
    width: 30%;
    //border-radius: 6px;
    //border-color: rgb(212, 238, 248);
    border-width: 3px;
    font-size: 19px;
    color: rgb(86, 97, 121);
    //background-color: white;
    //border-color: #ffce00;
    //text-shadow: 3px 3px #f0ffff;
    font-family: Microsoft JhengHei;
    letter-spacing: 0.1em;
    text-align: left;
    //padding: 5px 0px;
  }

  .question {
    position: absolute;
    top: 45%;
    left: 10%;
    width: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .title {
    color: rgb(235, 92, 35);
    text-shadow: 1px 1px #ffa500;
    font-family: Microsoft JhengHei;
    letter-spacing: 0.1em;
    text-align: left;
  }

  .words {
    font-size: 24px;
    //font-weight: 600;
    //color: blue;
    color: rgb(21, 121, 214);
    text-shadow: 1px 1px grey;
    font-family: Microsoft JhengHei;
    letter-spacing: 0.1em;
    text-align: center;
  }

.grid36 {
    position: absolute;
    left: 55%;
    top: 51%;
    width: 36%;
    //height: 80%;
    font-size: 24px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: Microsoft JhengHei;
    letter-spacing: 0.1em;
    text-align: center;
}

.grid42 {
  position: absolute;
  left: 50%;
  top: 51%;
  width: 40%;
  //height: 80%;
  font-size: 20px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: Microsoft JhengHei;
  letter-spacing: 0.1em;
  text-align: center;
}

.border {
    //border-style: solid;
    //border-width: 1px 1px 1px 1px;
    //border-color: #dedede;
    //border-color: yellowgreen;
    transform: rotate(+2deg);
    background-color: yellowgreen;
    border-radius: 8px;
    color: white;
    //font-size: 24px;
    font-family: Microsoft JhengHei;
    box-shadow: 3px 3px #B0C4DE;
  }

  .red {
    color: red;
  }

  .stamp {
    position: absolute;
    left: 33%;
    top: 74%;
    font-size: 30px;
    letter-spacing: 0.1em;
    font-family: Microsoft JhengHei;
    //transform: rotate(-10deg);
    animation-duration: 2s;
    animation-name: bounceIn;
  }
  
  .svgStamp {
    width: 100%;
    height: 1.3em;
  }
  
  svg text {
    //fill: pink;
    fill: white;
    stroke-width: 5px;
    paint-order: stroke;
    //stroke: violet;
    stroke: red;
  }

  .buttonL {
    position: absolute;
    left: 2%;
    bottom: 3.5%;
    //width: 40%;
  }

  .buttonR {
    position: absolute;
    right: 2%;
    bottom: 3.5%;
    //width: 40%;
  }


