<ion-content>

  <svg *ngIf="this.gamesService.ratio >= 2.1" class="polygon" style="stroke:white;stroke-width:1;" viewBox="0 0 128 60">
    <polygon points="4,6 128,8 128,53 6,54" style="fill: rgb(252, 240, 174)" 
      stroke-linecap="round" stroke-width="0.5" stroke-dasharray="0.2,1" preserveAspectRatio="xMidYMid meet" />
  </svg>

  <svg *ngIf="this.gamesService.ratio > 1.95 && this.gamesService.ratio < 2.1" class="polygon" style="stroke:white;stroke-width:1;" viewBox="0 0 128 60">
    <polygon points="4,5 128,7 128,54 6,55" style="fill: rgb(252, 240, 174)" 
      stroke-linecap="round" stroke-width="0.5" stroke-dasharray="0.2,1" preserveAspectRatio="xMidYMid meet" />
  </svg>

  <svg *ngIf="this.gamesService.ratio <= 1.95" class="polygon" style="stroke:white;stroke-width:1;" viewBox="0 0 128 64">
    <polygon points="3,3 128,5 128,60 5,61" style="fill: rgb(252, 240, 174)" 
      stroke-linecap="round" stroke-width="0.5" stroke-dasharray="0.2,1" preserveAspectRatio="xMidYMid meet" />
  </svg>

  <div *ngIf="this.gamesService.reviewMode == 0" class=bounce>
    第{{this.apptextService.currentText?.id}}天: {{this.apptextService.currentText?.title}}
  </div>

  <div *ngIf="this.gamesService.reviewMode != 0" class=bounce>
    (重溫) 第{{this.apptextService.currentText?.id}}天: {{this.apptextService.currentText?.title}}
  </div>

  <div *ngIf="this.gamesService.correctGrid == 1" class="diamonds">
      <div style="display: flex; align-items: center;">
        <div style="flex-shrink: 1;">積分:&nbsp;</div>
        <div style="width: 19px;"><ion-img  src="../assets/images/version1/diamond-green.png"></ion-img></div>
        <div style="width: 18px;"><ion-img src="../assets/images/version1/diamond-blue.png"></ion-img></div>
        <div style="width: 19px;"><ion-img  src="../assets/images/version1/diamond-orange.png"></ion-img></div>
      </div>
  </div>

  <div class=question>
    <div class="title">
      <h4>找出下列詞語，它們可能是直(豎)的或橫的。</h4>
    </div>
    <div class="words">
      <div style="display: flex; height: 40px;">
          <div style="width: 40%">{{this.gameQ[0]}}</div>
          <div style="width: 60%">{{this.gameQ[1]}}</div>
      </div>
      <div style="display: flex; height: 40px;">
          <div style="width: 40%">{{this.gameQ[2]}}</div>
          <div style="width: 60%">{{this.gameQ[3]}}</div>
      </div>
      <div style="display: flex; height: 40px;">
          <div style="width: 40%">{{this.gameQ[4]}}</div>
          <div style="width: 60%">{{this.gameQ[5]}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="this.gamesService.correctGrid == 0 && this.gameG.length == 36" class="grid36">
    <ion-grid text-center class="border">
      <ion-row *ngFor="let row of rowNumber; let j = index">
        <ion-col [ngClass]='varClass[j*6]' (click)="choose(j*6+1)">{{this.gameG[j*6]}}</ion-col>
        <ion-col [ngClass]='varClass[j*6+1]' (click)="choose(j*6+2)">{{this.gameG[j*6+1]}}</ion-col>
        <ion-col [ngClass]='varClass[j*6+2]' (click)="choose(j*6+3)">{{this.gameG[j*6+2]}}</ion-col>
        <ion-col [ngClass]='varClass[j*6+3]' (click)="choose(j*6+4)">{{this.gameG[j*6+3]}}</ion-col>
        <ion-col [ngClass]='varClass[j*6+4]' (click)="choose(j*6+5)">{{this.gameG[j*6+4]}}</ion-col>
        <ion-col [ngClass]='varClass[j*6+5]' (click)="choose(j*6+6)">{{this.gameG[j*6+5]}}</ion-col>
      </ion-row> 
    </ion-grid>
  </div>

  <div *ngIf="this.gamesService.correctGrid == 0 && this.gameG.length == 49" class="grid42">
    <ion-grid text-center class="border">
      <ion-row *ngFor="let row of rowNumber; let j = index">
        <ion-col [ngClass]='varClass[j*7]' (click)="choose(j*7+1)">{{this.gameG[j*7]}}</ion-col>
        <ion-col [ngClass]='varClass[j*7+1]' (click)="choose(j*7+2)">{{this.gameG[j*7+1]}}</ion-col>
        <ion-col [ngClass]='varClass[j*7+2]' (click)="choose(j*7+3)">{{this.gameG[j*7+2]}}</ion-col>
        <ion-col [ngClass]='varClass[j*7+3]' (click)="choose(j*7+4)">{{this.gameG[j*7+3]}}</ion-col>
        <ion-col [ngClass]='varClass[j*7+4]' (click)="choose(j*7+5)">{{this.gameG[j*7+4]}}</ion-col>
        <ion-col [ngClass]='varClass[j*7+5]' (click)="choose(j*7+6)">{{this.gameG[j*7+5]}}</ion-col>
        <ion-col [ngClass]='varClass[j*7+6]' (click)="choose(j*7+7)">{{this.gameG[j*7+6]}}</ion-col>
      </ion-row> 
    </ion-grid>
  </div>

  <div *ngIf="this.gamesService.correctGrid == 1 && this.gameG.length == 36" class="grid36">
    <ion-grid text-center class="border">
      <ion-row *ngFor="let row of rowNumber; let j = index">
        <ion-col [ngClass]='gameA[j*6]'>{{this.gameG[j*6]}}</ion-col>
        <ion-col [ngClass]='gameA[j*6+1]'>{{this.gameG[j*6+1]}}</ion-col>
        <ion-col [ngClass]='gameA[j*6+2]'>{{this.gameG[j*6+2]}}</ion-col>
        <ion-col [ngClass]='gameA[j*6+3]'>{{this.gameG[j*6+3]}}</ion-col>
        <ion-col [ngClass]='gameA[j*6+4]'>{{this.gameG[j*6+4]}}</ion-col>
        <ion-col [ngClass]='gameA[j*6+5]'>{{this.gameG[j*6+5]}}</ion-col>
      </ion-row> 
    </ion-grid>
  </div>

  <div *ngIf="this.gamesService.correctGrid == 1 && this.gameG.length == 49" class="grid42">
    <ion-grid text-center class="border">
      <ion-row *ngFor="let row of rowNumber; let j = index">
        <ion-col [ngClass]='gameA[j*7]'>{{this.gameG[j*7]}}</ion-col>
        <ion-col [ngClass]='gameA[j*7+1]'>{{this.gameG[j*7+1]}}</ion-col>
        <ion-col [ngClass]='gameA[j*7+2]'>{{this.gameG[j*7+2]}}</ion-col>
        <ion-col [ngClass]='gameA[j*7+3]'>{{this.gameG[j*7+3]}}</ion-col>
        <ion-col [ngClass]='gameA[j*7+4]'>{{this.gameG[j*7+4]}}</ion-col>
        <ion-col [ngClass]='gameA[j*7+5]'>{{this.gameG[j*7+5]}}</ion-col>
        <ion-col [ngClass]='gameA[j*7+6]'>{{this.gameG[j*7+6]}}</ion-col>
      </ion-row> 
    </ion-grid>
  </div>

  <div class="element" *ngIf="this.gamesService.correctGrid == 1">
      <svg class="svgStamp"><text x="8px" y="75%">做得好!</text></svg>
  </div>

  <ion-fab-button  (click)="clickL()" class="buttonL" size=small>
      <ion-img src="../assets/images/back.png"></ion-img>
  </ion-fab-button>
    
  <ion-fab-button  (click)="clickR()" class="buttonR" size=small>
      <ion-img src="../assets/images/forward.png"></ion-img>
  </ion-fab-button>

</ion-content>
