<ion-content>

  <svg class="polygonTop" style="stroke:white;stroke-width:1;" viewBox="0 0 128 60">
      <polygon points="0,0 128,0 128,10 0,13" style="fill: rgb(193, 222, 245)" 
          preserveAspectRatio="xMidYMid meet" />
  </svg>

  <svg class="polygonBottom" style="stroke: white;stroke-width:1;" viewBox="0 0 128 60">
      <polygon points="0,47 128,50 128,60 0,60" style="fill: rgb(193, 222, 245)" 
          preserveAspectRatio="xMidYMid meet" />
  </svg>

  <div *ngIf="this.gamesService.reviewMode == 0" class=volume>
    第{{this.storageService?.v}}册
  </div>

  <div *ngIf="this.gamesService.reviewMode != 0" class=volume>
    (重溫) 第{{this.storageService?.v}}册
  </div>

  <div class="sun">
    <ion-img src="../assets/images/version1/summer_sun_s.png"></ion-img>
  </div>

  <div class="center">
    <div *ngIf="this.gamesService.ratio > 1.8" style="font-size: 30pt; flex-grow: 1; text-align: right;">第{{this.apptextService.currentText?.id}}天:&nbsp;</div>
    <div *ngIf="this.gamesService.ratio > 1.8" style="font-size: 45pt; flex-grow: 1; text-align: left; white-space: pre-line;">{{this.apptextService.currentText?.title}}</div>
    <div *ngIf="this.gamesService.ratio <= 1.8" style="font-size: 25pt; flex-grow: 1; text-align: right;">第{{this.apptextService.currentText?.id}}天:&nbsp;</div>
    <div *ngIf="this.gamesService.ratio <= 1.8" style="font-size: 40pt; flex-grow: 1; text-align: left; white-space: pre-line;">{{this.apptextService.currentText?.title}}</div>
  </div>

  <ion-fab-button  (click)="clickL()" class="buttonL" size=small>
    <ion-img src="../assets/images/back.png"></ion-img>
  </ion-fab-button>

  <ion-fab-button  (click)="clickR()" class="buttonR" size=small>
    <ion-img src="../assets/images/forward.png"></ion-img>
  </ion-fab-button>


</ion-content>
