<ion-header>
  <ion-toolbar class="verse-background-color">
    <ion-buttons slot="start">
      <ion-back-button text="" class="back"></ion-back-button>
    </ion-buttons>    
    抗疫專區
    <ion-button disabled=true fill=clear size=small slot="end">
      <ion-icon name="play" style="color: #ff5747"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container"> 

    <ion-item style="background-color: #779ecb; color: white; font-size: 22px; letter-spacing: 2px;">
      &nbsp;福音單張
      <ion-button *ngIf="this.togglev == '0'" style="--padding-start: 0px;" slot="end" fill=clear (click)="togglev1()"><ion-icon name="arrow-down" style="color: #191970; font-size: 22px;"></ion-icon></ion-button>
      <ion-button *ngIf="this.togglev == '1'" style="--padding-start: 0px;" slot="end" fill=clear (click)="togglev0()"><ion-icon name="arrow-up" style="color: #191970; font-size: 22px;"></ion-icon></ion-button>
    </ion-item>
  
    <div *ngIf="this.togglev == '1'">

    <div class="bookRow1" (click)="doctor()">
        <ion-img style="width: 30%; border: solid 1px white" src="../assets/images/Corona/Doctor1.jpg"></ion-img>
        <h3 class="bookTitle">最偉大的醫生</h3>
    </div> 
  
    <div class="bookRow2" (click)="why()">
        <ion-img style="width: 30%; border: solid 1px white" src="../assets/images/Corona/Why1.jpg"></ion-img>
        <h3 class="bookTitle">你有想過為什麼嗎</h3>
    </div> 

    </div>

    <ion-item style="background-color: #6cc3d3; color: white; font-size: 22px; letter-spacing: 2px;">
      &nbsp;在家靈修糸列
      <ion-button *ngIf="this.toggleq == '0'" style="--padding-start: 0px;" slot="end" fill=clear (click)="toggleq1()"><ion-icon name="arrow-down" style="color: #191970; font-size: 22px;"></ion-icon></ion-button>
      <ion-button *ngIf="this.toggleq == '1'" style="--padding-start: 0px;" slot="end" fill=clear (click)="toggleq0()"><ion-icon name="arrow-up" style="color: #191970; font-size: 22px;"></ion-icon></ion-button>
    </ion-item>
  
  </div>
  
  </ion-content>
