ion-content{
    --background: url(../../assets/images/backgrounds/blueSwirl2_s.png) 0 0/100% 200% no-repeat;
    //--background: rgb(91, 148, 235);
    --overflow: hidden;
}

.container1 {
    display: flex;
    margin: 12px 15px 5px 20px;
    align-items: center;
}

.container2 { //larger lower margin for devices with smaller height to width ratio (height/width <1.8)
    display: flex;
    margin: 12px 15px 15px 20px;
    align-items: center;
}

.container3 { //for tablets
    display: flex;
    margin: 35px 25px 45px 30px;
    align-items: center;
}    

.welcome1 { //for tablet
    flex-grow: 1;
    position: relative;
    height: 45px;
    font-family: Microsoft JhengHei;
    //font-size: var(--main-font-size); //font-size specified in .theme/variables.scss
    font-size: 28px;
    color: white;
}

.welcome2 { //for mobile phone
    flex-grow: 1;
    position: relative;
    height: 35px;
    font-family: Microsoft JhengHei;
    //font-size: var(--main-font-size); //font-size specified in .theme/variables.scss
    font-size: 28px;
    color: white;
}

.centerp {
   margin: 0;
   position: absolute;               
   top: 50%;                         
   transform: translate(0, -50%); 
}

.input1 { //for tablet
    max-width: 15% !important;
    height: 45px;
    font-size: 18px; 
    text-align: center; 
    background-color: white;
}

.input2 { //for mobile phone
    max-width: 15% !important;
    height: 35px;
    font-size: 18px; 
    text-align: center; 
    background-color: white;
}

.buttonTop1a { //for tablet
    height: 45px;
    --border-radius: 1px;
    --padding-start: 3px;
    --padding-end: 3px;
    font-size: 18px; 
    //font-size: 16px;
    font-weight: 200;
    text-align: center;
    color: white;
}

.buttonTop1b { //for mobile phone
    height: 35px;
    --border-radius: 1px;
    --padding-start: 3px;
    --padding-end: 3px;
    font-size: 18px; 
    //font-size: 16px;
    font-weight: 200;
    text-align: center;
    color: white;
}
 
.buttonTop2a { //for tablet
    height: 45px;
    --border-radius: 3px;
    --padding-start: 8px;
    --padding-end: 8px;
    font-size: 18px; 
    //font-size: 16px;
    font-weight: 200;
    text-align: center;
    color: white;
}

.buttonTop2b { //for mobile phone
    height: 35px;
    --border-radius: 3px;
    --padding-start: 8px;
    --padding-end: 8px;
    font-size: 18px; 
    //font-size: 16px;
    font-weight: 200;
    text-align: center;
    color: white;
}

.bookCover1 {
    display: flex;
    position: absolute;
    left: 12.5%;
    width: 75%;
    margin: 5px 5px 5px 5px;
    justify-content: space-evenly;
    //height: 50vh;
}

.bookCover2 { //larger width percentage for devices with smaller height to width ratio (height/width <1.8 but >1.65)
    display: flex;
    position: absolute;
    left: 10%;
    width: 80%;
    margin: 5px 5px 5px 5px;
    justify-content: space-evenly;
    //height: 50vh;
}

.bookCover3 { //larger width percentage for devices with smaller height to width ratio (height/width <=1.65)
    display: flex;
    position: absolute;
    left: 7%;
    width: 86%;
    margin: 5px 5px 5px 5px;
    justify-content: space-evenly;
    //height: 50vh;
}

.cardright {
    display: flex;
    flex-direction: column;
    //background-image: url("../../assets/images/backgrounds/purpleDots2_s.png");
    background-color: rgb(116, 47, 116);
    //background-size: 250px 250px;
    border: 5px solid azure;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

//.buttonMenu {
//    font-family: Microsoft JhengHei;
//    letter-spacing: 1px;
//}

.cardleft {
    //display: flex;
    //flex-direction: column;
    background-color:azure; 
    width: 40%;
    border-radius: 5px;
}

.round {
    border-radius: 50% !important;
    overflow: hidden;
}

.slide {
    margin: 0px 0px 7px 0px;
    box-shadow: 2px 2px 3px #9494d4;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

  .buttonL {
    position: absolute;
    left: 2%;
    bottom: 3.5%;
    //width: 40%;
  }

  .chgPage {
    opacity: 0.6;
    margin-right: 6vw;
    font-size: 10px;
  }
