<ion-content>

  <div *ngIf="this.storageService.currentName_Date != null" [ngClass]='container'>

    <div [ngClass]='welcome' *ngIf="this.storageService.currentName_Date[0] == 0">
      <p class="centerp">歡 迎 您, 小朋友 ! </p>
    </div>
    <ion-input *ngIf="this.storageService.currentName_Date[0] == 0" [ngClass]='input' maxlength=10 placeholder="您的名字" [(ngModel)]="UserName"></ion-input>  
    <ion-button *ngIf="this.storageService.currentName_Date[0] == 0" [ngClass]='buttonTop1' color=success strong (click)="InputName()">
        <ion-icon name="arrow-round-forward"></ion-icon>
    </ion-button>  

    <div [ngClass]='welcome' *ngIf="this.storageService.currentName_Date[0] != 0">
      <p class="centerp">歡 迎 您, {{this.storageService.currentName_Date[0]}} ! </p>
    </div>
    <ion-button *ngIf="this.storageService.currentName_Date[0] != 0" [ngClass]='buttonTop2' color=secondary strong (click)="CheckScore()">
      查看獎賞
    </ion-button> 

    <ion-button [ngClass]='buttonTop1' fill=clear strong (click)="Information()">
      <ion-icon name="menu"></ion-icon>
    </ion-button> 

  </div>
  
  <div *ngIf="this.storageService.currentName_Date != null" [ngClass]='bookcover'>    
        
      <div class=cardleft>
        <div style="margin: 10px;">
          <ion-img class="slide" *ngIf="this.storageService.currentPages[this.v-1] != 0 || this.v == 1" src="../assets/images/covers/cover{{this.v}}.jpeg"></ion-img>
          <ion-img class="slide" *ngIf="this.storageService.currentPages[this.v-1] == 0 && this.v != 1 && this.newBk == 0" src="../assets/images/covers/cover{{this.v-1}}.jpeg"></ion-img>
          <ion-img class="slide" *ngIf="this.storageService.currentPages[this.v-1] == 0 && this.v != 1 && this.newBk == 1" src="../assets/images/covers/cover{{this.v}}.jpeg"></ion-img>
        </div>
      </div>

      <div class=cardright *ngIf="this.storageService.currentName_Date[0] == 0">
        <ion-button class="animated swing delay-2s" style="font-family: Microsoft JhengHei;letter-spacing: 1px; --padding-start: 18px; --padding-end: 18px; font-size: 18px;" color=warning shape=round (click)="parents()">
          給家長的話
        </ion-button> 
        <ion-button class="animated swing delay-4s" style="font-family: Microsoft JhengHei;letter-spacing: 1px; --padding-start: 18px; --padding-end: 18px; font-size: 18px;" color=success shape=round (click)="how()">
          如何使用這本書
        </ion-button> 
        <ion-button class="animated swing delay-6s" style="font-family: Microsoft JhengHei;letter-spacing: 1px; --padding-start: 18px; --padding-end: 18px; font-size: 18px;" color=primary shape=round (click)="warnName()">
          開始第一天靈修
        </ion-button>
      </div>

      <div class=cardright *ngIf="this.storageService.currentName_Date[0] != 0 && this.storageService.currentPages != null">

        <div *ngIf="this.storageService.currentPages[this.v-1] != 0 || this.v == 1 || this.newBk == 1" style="text-align: center;">
          <ion-icon name="star-outline" *ngIf="this.storageService.currentPages[this.v-1] < 6" style="color: rgb(76, 215, 250); font-size:22px;"></ion-icon>
          <ion-icon name="star" *ngIf="this.storageService.currentPages[this.v-1] >= 6" style="color: rgb(76, 215, 250); font-size:22px;"></ion-icon>
          <ion-icon name="star-outline" *ngIf="this.storageService.currentPages[this.v-1] < 12" style="color: rgb(31, 230, 5); font-size:22px;"></ion-icon>
          <ion-icon name="star" *ngIf="this.storageService.currentPages[this.v-1] >= 12" style="color: rgb(31, 230, 5); font-size:22px;"></ion-icon>
          <ion-icon name="star-outline" *ngIf="this.storageService.currentPages[this.v-1] < 18" style="color: rgb(250, 98, 212); font-size:22px;"></ion-icon>
          <ion-icon name="star" *ngIf="this.storageService.currentPages[this.v-1] >= 18" style="color: rgb(250, 98, 212); font-size:22px;"></ion-icon>
          <ion-icon name="star-outline" *ngIf="this.storageService.currentPages[this.v-1] < 24" style="color: rgb(250, 163, 2); font-size:22px;"></ion-icon>
          <ion-icon name="star" *ngIf="this.storageService.currentPages[this.v-1] >=24" style="color: rgb(250, 163, 2); font-size:22px;"></ion-icon>
          <ion-icon name="star-outline" *ngIf="this.storageService.currentPages[this.v-1] < 30" style="color: rgb(243, 226, 74); font-size:22px;"></ion-icon>
          <ion-icon name="star" *ngIf="this.storageService.currentPages[this.v-1] == 30" style="color: rgb(243, 226, 74); font-size:22px;"></ion-icon>
          <div style="color:white; font-size: 18px;" *ngIf="this.storageService.currentPages[this.v-1] != 0 || this.v == 1 || this.newBk == 1">已完成：{{this.storageService.currentPages[this.v-1]}}/30</div>
        </div>       
        <ion-button *ngIf="this.storageService.currentPages[this.v-1] != 0 || this.v == 1 || this.newBk == 1" class="animated swing delay-6s" style="font-family: Microsoft JhengHei;letter-spacing: 1px; --padding-start: 18px; --padding-end: 18px; font-size: 18px;" color=primary shape=round (click)="gotoBook(1)">
          開始第{{this.storageService.currentPages[this.v-1]+1}}天靈修
        </ion-button>

        <div *ngIf="this.storageService.currentPages[this.v-1] == 0 && this.v != 1 && this.newBk == 0" style="text-align: center;">
          <ion-icon name="star-outline" *ngIf="this.storageService.currentPages[this.v-2] < 6" style="color: rgb(76, 215, 250); font-size:22px;"></ion-icon>
          <ion-icon name="star" *ngIf="this.storageService.currentPages[this.v-2] >= 6" style="color: rgb(76, 215, 250); font-size:22px;"></ion-icon>
          <ion-icon name="star-outline" *ngIf="this.storageService.currentPages[this.v-2] < 12" style="color: rgb(31, 230, 5); font-size:22px;"></ion-icon>
          <ion-icon name="star" *ngIf="this.storageService.currentPages[this.v-2] >= 12" style="color: rgb(31, 230, 5); font-size:22px;"></ion-icon>
          <ion-icon name="star-outline" *ngIf="this.storageService.currentPages[this.v-2] < 18" style="color: rgb(250, 98, 212); font-size:22px;"></ion-icon>
          <ion-icon name="star" *ngIf="this.storageService.currentPages[this.v-2] >= 18" style="color: rgb(250, 98, 212); font-size:22px;"></ion-icon>
          <ion-icon name="star-outline" *ngIf="this.storageService.currentPages[this.v-2] < 24" style="color: rgb(250, 163, 2); font-size:22px;"></ion-icon>
          <ion-icon name="star" *ngIf="this.storageService.currentPages[this.v-2] >=24" style="color: rgb(250, 163, 2); font-size:22px;"></ion-icon>
          <ion-icon name="star-outline" *ngIf="this.storageService.currentPages[this.v-2] < 30" style="color: rgb(243, 226, 74); font-size:22px;"></ion-icon>
          <ion-icon name="star" *ngIf="this.storageService.currentPages[this.v-2] == 30" style="color: rgb(243, 226, 74); font-size:22px;"></ion-icon>
          <div style="color:white; font-size: 18px;" *ngIf="this.storageService.currentPages[this.v-1] == 0 && this.v != 1 && this.newBk == 0">已完成：{{this.storageService.currentPages[this.v-2]}}/30</div>
        </div>
        <ion-button *ngIf="this.storageService.currentPages[this.v-1] == 0 && this.v != 1 && this.v != 3 && this.newBk == 0" class="animated swing delay-6s" style="font-family: Microsoft JhengHei;letter-spacing: 1px; --padding-start: 18px; --padding-end: 18px; font-size: 18px;" color=primary shape=round (click)="changeBk()">
          開始下一册
        </ion-button>
        <ion-button *ngIf="this.storageService.currentPages[this.v-1] == 0 && this.v != 1 && this.v == 3 && this.newBk == 0" class="animated swing delay-6s" style="font-family: Microsoft JhengHei;letter-spacing: 1px; --padding-start: 18px; --padding-end: 18px; font-size: 17px;" color=primary shape=round>
          你已完成所有課本
        </ion-button>

      </div>

  </div>

  <ion-fab-button  (click)="clickL()" class="buttonL" size=small>
      <ion-img src="../assets/images/back.png"></ion-img>
  </ion-fab-button>

</ion-content>
