<ion-header>
  <ion-toolbar class="verse-background-color">
    <ion-buttons slot="start">
      <ion-back-button text="" class="back"></ion-back-button>
    </ion-buttons>    
    影音工作室
    <ion-button disabled=true fill=clear size=small slot="end">
      <ion-icon name="play" style="color: #ffb347"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="this.networkService.previousStatus == 0">
  <div *ngFor="let video of videoID, let i=index">
    <div style="border-top: solid 20px rgb(248, 201, 131); background: rgb(248, 201, 131)">
      <div style="position:relative; width:100%; height:0px; padding-bottom:56.25%;">
      <iframe style="position:absolute; left:0; top:0" width=100% height=100% [src]="getSafeUrl(i)" frameborder="0" allowfullscreen=true></iframe>
      </div>
      <br>
    </div>
  </div>
  </div>

  <div *ngIf="this.networkService.previousStatus == 1" style="color: rgb(85, 75, 75)">
    <br>
    &nbsp;&nbsp;請檢查網絡狀況
  </div>

</ion-content>
