ion-content{
    //@debug: url(../../assets/images/backgrounds/blueSwirl2_s.png) 0 0/100% 200% no-repeat;
    --background: #48D1CC;
    //--background: rgb(4, 51, 121);
    //--overflow: hidden;
}

.gospel {
    position: absolute;
    left: 13%;
    width: 30%;
    //height: 60%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quiettime {
    position: absolute;
    right: 13%;
    width: 30%;
    //height: 60%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
