ion-content{
    //@debug: url(../../assets/images/backgrounds/blueSwirl2_s.png) 0 0/100% 200% no-repeat;
    --background: #48D1CC;
    //--background: rgb(4, 51, 121);
    //--overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}    

.bookRow1 {
    display: flex;
    align-items: center;
    border: solid 10px cornflowerblue;
    background-color: cornflowerblue;
}

.bookRow2 {
    display: flex;
    align-items: center;
    border: solid 10px mediumpurple;
    background-color: mediumpurple;
}

.bookRow3 {
    //flex-grow: 1;
    display: flex;
    align-items: center;
    //border: solid 10px #fcaa9e; //pink
    //background-color: #fcaa9e;
    border: solid 10px #ffb347;
    background-color: #ffb347;
}

.bookTitle {
    flex-grow: 1;
    color: white;
    //font-size: 20px;
    //font-family: Microsoft JhengHei;
    text-align: center;
    letter-spacing: 0.1em;
}