<ion-content>

<div class="container"> 

  <ion-img src="../assets/images/GoodNewsClub.png"></ion-img>

  <div class="bookRow1" (click)="gospel()">
      <ion-img style="width: 30%; border: solid 1px white" src="../assets/images/Gospel/gospel1.png"></ion-img>
      <h3 class="bookTitle">你需要知道的事情</h3>
  </div> 

  <div class="bookRow2" (click)="quiettime()">
      <ion-img style="width: 30%; border: solid 1px white" src="../assets/images/covers/cover_main.png"></ion-img>
      <h3 class="bookTitle">每日與主同行系列</h3>
  </div> 

 

</div>

</ion-content>
