ion-content{
    //@debug: url(../../assets/images/backgrounds/blueSwirl2_s.png) 0 0/100% 200% no-repeat;
    --background: #48D1CC;
    //--background: rgb(4, 51, 121);
    //--overflow: hidden;
}

.container {
    display: flex;
    margin: 12px 8px 5px 20px;
    align-items: center;
}    

.nameE {
    flex-grow: 1;
    height: 25px;
    font-size: 20px;
    color: white;
    //text-shadow: 1px 1px grey;
}

.nameC {
    height: 25px;
    font-size: 22px;
    font-family: Microsoft JhengHei;
    color: white;
    //text-shadow: 1px 1px grey;
    letter-spacing: 0.1em;
    text-align: center;
}

.button {
    height: 25px;
    --padding-start: 3px;
    --padding-end: 3px;
    font-size: 20px;
    color: white;
    text-align: center;
}

.gospel {
    position: absolute;
    left: 20%;
    width: 25%;
    //height: 60%;
    top: 54%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quiettime {
    position: absolute;
    right: 20%;
    width: 25%;
    //height: 60%;
    top: 54%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
