<ion-content>

<div class="container"> 

  <div class="nameE">Good News Club</div>

  <ion-button class="button" fill=clear strong>
      兒童靈修樂
  </ion-button> 

  <ion-button class="button" fill=clear strong (click)="Information()">
      <ion-icon name="menu"></ion-icon>
  </ion-button> 

</div>

  <ion-img class="gospel" src="../assets/images/covers/gospel.png" (click)="gospel()"></ion-img>

  <ion-img class="quiettime" src="../assets/images/covers/cover_main.png" (click)="quiettime()"></ion-img>

</ion-content>
