<ion-content>

  <div style="margin-left: 20px; margin-right: 15px;"> 
    <ion-img src="../assets/images/version1/bookinfo1.png"></ion-img>
    <ion-img src="../assets/images/version1/bookinfo2.png"></ion-img>
    <ion-img src="../assets/images/version1/bookinfo3.png"></ion-img>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="clickL()">
    <ion-fab-button size=small>
      <ion-img src="../assets/images/back.png"></ion-img>
    </ion-fab-button>
  </ion-fab>

<ion-content>
