ion-content{
    --background: url(../../assets/images/backgrounds/purpleDots1.png) 0 0/100% 200% no-repeat;
    //--overflow: hidden;
}

.words {
    position: absolute;
    left: 10%;
    top: 5%;
    width: 80%;
    text-align: left;
    line-height: 140%;
    font-family: Microsoft JhengHei;
    letter-spacing: 0.1em;
    font-size: 18px;
    //-ms-transform: translateY(-50%);
    //transform: translateY(-50%);
  }

.buttonL {
    position: absolute;
    left: 2%;
    top: 82%;
  }