<ion-content>

  <svg class="polygon" style="stroke:rgb(250, 151, 4);stroke-width:1;" viewBox="0 0 128 130">
    <polygon points="6,0 122,0 122,130 6,130" style="fill: rgb(232, 213, 241)" 
      preserveAspectRatio="xMidYMid meet" />
  </svg>

<div class=words> 
  <p>親愛的家長:</p>
  <p>大多數父母都會照顧好自己的孩子，他們會確保孩子有良好的食物、充足的衣物和安全的居住環境。</p>
  <p>照顧孩子的生理需求是良好育兒的重要部份，但是，你的孩子的屬靈需要又如何呢？這本書將會幫助你的孩子建立與神的關係。裡面的教導不是來自任何特定的教會或宗派，而是來自神的話語—聖經。這本靈修書是為了引導你的孩子，在每天靈修時間與神同行而設計的。</p>
  <p>當你的孩子讀這本書時，他會更認識神，並且被挑戰，以討神喜悅的方式來生活。你的孩子會被鼓勵去順服、尊重、友善待人和愛人。他將學習到，如勇敢、感恩和知足的品格，還有如何抗拒那些誘惑他做不對的事的人，以及如何原諒他人。</p>
  <p>這本書寫得簡單明瞭，包括有趣的活動。你甚至可能喜愛和孩子一起做課本的活動！鼓勵你的孩子每天與神有一段靈修時間，你將會幫助你的孩子建立能影響他們一生的良好習慣！</p>
</div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="clickL()">
    <ion-fab-button size=small>
      <ion-img src="../assets/images/back.png"></ion-img>
    </ion-fab-button>
  </ion-fab>

</ion-content>
