.verse-background-color{
    --background: #48D1CC;
    //--background: cornflowerblue;
    --color: white;
    //--background: #FFE4C4; 
    //--color: #800000;
    font-family: DFKai-sb;
    font-size: 25px;
    //padding: 15px 70px 0px 0px;
    padding-bottom: 5px;
    text-align: center;
    //text-shadow: 1px 1px 3px grey;
  }

  .bigtitle {
    //font-family: ".PingFang-SC";
    letter-spacing: 1px;
    //font-weight: 300;
    //font-size: 25px;
  }

  .back {
    --color: darkblue;
  }