//ion-content {
 //   --background: none;
 //   background-image: linear-gradient(#C0C0C0, #F0F8FF, #C0C0C0);
 //   --overflow: hidden;
//  }

ion-content{
  //--background: url(../../assets/images/purpleDots.png) 0 0/100% 100% no-repeat;
  --background: url(../../assets/images/backgrounds/orangeDots1.png) 0 0/100% 200% no-repeat;
  --overflow: hidden;
}

.polygon {
  position: absolute;
  //resize: horizontal;
  //width: 100vh;
  left: 0%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

  @keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

  .bounce {
    position: absolute;
    left: 55%;
    top: 4%;
    width: 40%;
    text-align: right;
    color: white;
    font-weight:500;
    //text-shadow: 2px 0 0 yellow;
    font-family: Microsoft JhengHei;
    //letter-spacing: 0.1em;
    font-size: 19px;
    animation-duration: 2s;
    animation-name: bounceIn;
  }

 .verse {
    position: absolute;
    left: 8%;
    top: 50%;
    //height: 90%;
    width: 82%;
    //margin: auto;
    //display: block;
    text-align: left;
    line-height: 140%;
    font-family: Microsoft JhengHei;
    letter-spacing: 0.1em;
    font-size: 18px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .expln1 {
    position: absolute;
    right: 24%; 
    bottom: 19%;
    width: 60%;
    font-size: 15px;
    text-align: right;
  }

  .expln2 {
    position: absolute;
    right: 24%; 
    bottom: 17%; //for shorter screens
    width: 60%;
    font-size: 15px;
    text-align: right;
  }

  .bible {
    position: absolute;
    right: 0%;
    bottom: 3%;
    width: 25%;
    transform: rotate(-8deg);
    -webkit-filter: drop-shadow(3px 3px 3px rgb(97, 96, 96));
    filter: drop-shadow(3px 3px 3px rgb(99, 99, 99));
  }

  .buttonL {
    position: absolute;
    left: 2%;
    bottom: 3.5%;
    //width: 40%;
  }

  .buttonR {
    position: absolute;
    right: 2%;
    bottom: 3.5%;
    //width: 40%;
  }

