<ion-content>

  <svg *ngIf="this.gamesService.ratio >= 2.1" class="polygon" style="stroke:white;stroke-width:1;" viewBox="0 0 128 60">
    <polygon points="0,12 123,9 120,51 0,48" style="fill: white" 
      stroke-linecap="round" stroke-width="0.5" stroke-dasharray="0.2,1" preserveAspectRatio="xMidYMid meet" />
  </svg>

  <svg *ngIf="this.gamesService.ratio >= 2 && this.gamesService.ratio < 2.1" class="polygon" style="stroke:white;stroke-width:1;" viewBox="0 0 128 60">
    <polygon points="0,11 123,8 120,52 0,49" style="fill: white" 
      stroke-linecap="round" stroke-width="0.5" stroke-dasharray="0.2,1" preserveAspectRatio="xMidYMid meet" />
  </svg>

  <svg *ngIf="this.gamesService.ratio < 2" class="polygon" style="stroke:white;stroke-width:1;" viewBox="0 0 128 72">
    <polygon points="0,13 122,10 119,62 0,59" style="fill: white" 
      stroke-linecap="round" stroke-width="0.5" stroke-dasharray="0.2,1" preserveAspectRatio="xMidYMid meet" />
  </svg>

  <div class="bible" >
    <ion-img src="../assets/images/version1/bible_open.png"></ion-img>
  </div>

  <div *ngIf="this.gamesService.reviewMode == 0" class=bounce>
      第{{this.apptextService.currentText?.id}}天: {{this.apptextService.currentText?.title}}
  </div>

  <div *ngIf="this.gamesService.reviewMode != 0" class=bounce>
    (重溫) 第{{this.apptextService.currentText?.id}}天: {{this.apptextService.currentText?.title}}
  </div>

  <div id=verse class="verse">
    <div style="font-size: 17px; letter-spacing: 0.05em; line-height: 120%; margin-top: 3px; margin-bottom: 0px;" [innerHTML]="this.apptextService.currentText?.intro"></div>
    <div style="font-size: 18px; color:blue; font-weight:400; margin-top: 7px; margin-bottom: 5px">閱讀: {{this.apptextService.currentText?.chapter}}</div>
    <div style="white-space: pre-line;" *ngIf="this.apptextService.currentText?.verseFour != null">
      <div style="display: inline;" [innerHTML]="this.apptextService.currentText?.verseOne"></div>
      <div style="display: inline;" [innerHTML]="this.apptextService.currentText?.verseTwo"></div>
      <div style="display: inline;" [innerHTML]="this.apptextService.currentText?.verseThree"></div>
      <div style="display: inline;" [innerHTML]="this.apptextService.currentText?.verseFour"></div>
    </div>
    <div style="white-space: pre-line;" *ngIf="this.apptextService.currentText?.verseFour == null">
      <div style="display: inline;" [innerHTML]="this.apptextService.currentText?.verseOne"></div>
      <div style="display: inline;" [innerHTML]="this.apptextService.currentText?.verseTwo"></div>
      <div style="display: inline;" [innerHTML]="this.apptextService.currentText?.verseThree"></div>
    </div>
  </div>

  <div *ngIf="this.scroll == 1" class="arrow">
    [上下撥動顯示更多內容]
  </div>

  <div *ngIf="this.gamesService.ratio >= 2" class="expln1">
    <div [innerHTML]="this.apptextService.currentText?.explanation"></div>
  </div>

  <div *ngIf="this.gamesService.ratio < 2" class="expln2">
    <div [innerHTML]="this.apptextService.currentText?.explanation"></div>
  </div>

  <ion-fab-button  (click)="clickL()" class="buttonL" size=small>
    <ion-img src="../assets/images/back.png"></ion-img>
  </ion-fab-button>

  <ion-fab-button  (click)="clickR()" class="buttonR" size=small>
    <ion-img src="../assets/images/forward.png"></ion-img>
  </ion-fab-button>

</ion-content>

