<ion-content>

  <div>
      <ion-img class="background" src="../assets/images/speech_bubble.png"></ion-img>
  </div>

  <div class="girl">
    <ion-img src="../assets/images/girl_reading.png"></ion-img>
  </div>

  <div class="center">
      <h4 style="color:blue;font-weight:700;">靈修小貼士: </h4>
      <div>
        當你讀聖經和禱告時，就是與神在一起。
        你可以找一個安靜的地方，坐下來讀神的話，求祂幫助你。
      </div>
    </div>

  <ion-fab-button  (click)="clickL()" class="buttonL" size=small>
    <ion-img src="../assets/images/back.png"></ion-img>
  </ion-fab-button>

 </ion-content>
