ion-content{
  //--background: url(../../assets/images/purpleDots.png) 0 0/100% 100% no-repeat;
  --background: url(../../assets/images/backgrounds/redDots1.png) 0 0/100% 200% no-repeat;
   --overflow: hidden;
}

.polygon {
  position: absolute;
  //resize: horizontal;
  //width: 100vh;
  left: 0%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bounce {
  position: absolute;
  left: 45%;
  top: 3%;
  width: 51%;
  text-align: right;
  //color: rgb(98, 114, 133); //greyish blue
  color: rgb(216, 189, 189);
  font-weight:500;
  font-family: Microsoft JhengHei;
  //letter-spacing: 0.1em;
  font-size: 18px;
  animation-duration: 2s;
  animation-name: bounceIn;
}

.diamonds { // used in version 2 only
  display: none;
  position: absolute;
  left: 8%;
  top: 3%; //original = 9
  width: 30%;
  //border-radius: 6px;
  //border-color: rgb(212, 238, 248);
  border-width: 3px;
  font-size: 19px;
  color: rgb(183, 196, 224);
  //background-color: white;
  //border-color: #ffce00;
  //text-shadow: 3px 3px #f0ffff;
  font-family: Microsoft JhengHei;
  letter-spacing: 0.1em;
  text-align: left;
  //padding: 5px 0px;
}

  .title {
    position: absolute;
    top: 21%;
    left: 68%;
    width: 29%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgb(235, 92, 35);
    text-shadow: 1px 1px #ffa500;
    font-family: Microsoft JhengHei;
    letter-spacing: 0.1em;
    text-align: center;
  }

  canvas {
    position: absolute;
    top: 16%; //original = 10
    //top: 25%;
    display: block;
    border: 1px solid rgb(187, 178, 178);
    border-radius: 5px;
    touch-action: none;
    background-color: white;
    left: 9%;
    //width: 55%;
    //height: 60%;
}

.overlay {
    position: absolute;
    top: 15%; //original = 10
    //top: 25%;
    display: block;
    border: 1px solid green;
    border-radius: 5px;
    //touch-action: none;
    background-color: white;
    left: 10%;
    width: 55%;
    height: 60%;
}

.color-block {
  height: 45px;
}

//.titleRow {
//  position: absolute;
//  top: 76%; //original = 75
//  left: 10%;
//  width: 55%;
//  color: seagreen;
//  text-shadow: 1px 1px lawngreen;
//  font-family: Microsoft JhengHei;
//  letter-spacing: 0.1em;
//  text-align: center;
//}

.colorRow {
  position: absolute;
  top: 32%; 
  left: 70%;
  width: 25%;
  text-align: center;
}

.buttonS {
  position: absolute;
  top: 72%; //original = 76
  //left: 12%;
  left: 70%;
  width: 25%;
  text-align: center;
}

.slideCanvas {
  position: absolute;
  top: 15%;
  left: 9%;
  width: 55%;
  height: 72%;
  background: white;
}

.buttonL {
  position: absolute;
  left: 2%;
  bottom: 3.5%;
  //width: 40%;
}

.buttonR {
  position: absolute;
  right: 2%;
  bottom: 3.5%;
  //width: 40%;
}