ion-content{
  //--background: url(../../assets/images/purpleDots.png) 0 0/100% 100% no-repeat;
  --background: url(../../assets/images/backgrounds/redDots1_s.png) 0 0/100% 200% no-repeat;
   --overflow: hidden;
}

.polygon {
  position: absolute;
  //resize: horizontal;
  //width: 100vh;
  left: 0%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bounce {
  position: absolute;
  left: 45%;
  top: 3%;
  width: 51%;
  text-align: right;
  //color: rgb(98, 114, 133); //greyish blue
  color: rgb(216, 189, 189);
  font-weight:500;
  font-family: Microsoft JhengHei;
  //letter-spacing: 0.1em;
  font-size: 18px;
  animation-duration: 2s;
  animation-name: bounceIn;
}

  .title {
    position: absolute;
    top: 22%;
    left: 68%;
    width: 29%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgb(235, 92, 35);
    text-shadow: 1px 1px #ffa500;
    font-family: Microsoft JhengHei;
    letter-spacing: 0.1em;
    text-align: center;
  }

  canvas {
    position: absolute;
    top: 16%; //original = 10
    //top: 25%;
    display: block;
    border: 1px solid rgb(187, 178, 178);
    border-radius: 5px;
    touch-action: none;
    background-color: white;
    left: 9%;
    //width: 55%;
    //height: 60%;
}

.overlay {
    position: absolute;
    top: 15%; //original = 10
    //top: 25%;
    display: block;
    border: 1px solid green;
    border-radius: 5px;
    //touch-action: none;
    background-color: white;
    left: 10%;
    width: 55%;
    height: 60%;
}

.color_block1 { //for tablet
  height: 90px;
}

.color_block2 { //for mobile phone
  //height: 45px;
  height: 44px;
}

.colorRow {
  position: absolute;
  //top: 51%;
  top: 48%;
  left: 70%;
  width: 25%;
  text-align: center;
  -ms-transform: translateY(-50%); 
  transform: translateY(-50%); 
}

.stroke {
  top: 65%;
  left: 70%;
  width: 28%;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  //color: var(--ion-color-slider-bar);
}

//below 13 css classes not use
.c9e2956 {
  color: #9e2956;
}

.cc2281d {
  color: #c2281d;
}

.cde722f {
  color: #de722f;
}

.cedbf4c {
  color: #edbf4c;
}

.c5db37e {
  color: #5db37e;
}

.c459cde {
  color: #459cde;
}

.c4250ad {
  color: #4250ad;
}

.c802fa3 {
  color: #802fa3;
}

.cffffff {
  color: rgb(73, 71, 71);
}

.cc3c3c3 {
  color: #c3c3c3;
}

.cffaec8 {
  color: #ffaec8;
}

.cb97a56 {
  color: #b97a56;
}

.buttonS {
  position: absolute;
  top: 75%; //original = 73
  //left: 12%;
  left: 70%;
  width: 25%;
  text-align: center;
}

.slideCanvas {
  position: absolute;
  top: 15%;
  left: 9%;
  width: 55%;
  height: 72%;
  background: white;
}

.buttonL {
  position: absolute;
  left: 2%;
  //bottom: 3.5%;
  bottom: 2.5%;
}

.buttonR {
  position: absolute;
  right: 2%;
  //bottom: 3.5%;
  bottom: 2.5%;
}