.verse-background-color{
    //--background: #48D1CC;
    --background: #ff5747;
    --color: white;
    //font-family: DFKai-sb;
    font-size: 25px;
    padding: 10px 0px;
    //padding-bottom: 5px;
    text-align: center;
    //text-shadow: 1px 1px 3px grey;
    letter-spacing: 0.1em;
  }