ion-content {
    --background: none;
    background-image: linear-gradient(#C0C0C0, #F0F8FF, #C0C0C0);
    --overflow: hidden;
}

.buttonL {
    position: absolute;
    left: 2%;
    top: 82%;
  }

  .buttonR {
    position: absolute;
    left: 91%;
    top: 82%;
  }