<ion-content>

  <div>
      <ion-img src="../assets/images/jesus_and_child.jpg"></ion-img>
  </div>

  <div class="welcome">
      歡迎來到
  </div>

  <div class="title">
    <div style="position: absolute; top:21%; left: 53%; transform: rotate(-10deg)">晨</div>
    <div style="position: absolute; top:21%; left: 65%; transform: rotate(+8deg)">光</div>
    <div style="position: absolute; top:21%; left: 77%; transform: rotate(-8deg)">時</div>
    <div style="position: absolute; top:21%; left: 89%; transform: rotate(+9deg)">間</div>
  </div>

  <div class="select">
    <ion-button color=secondary size=large strong style="position: absolute; top:55%; left: 53%; transform: rotate(+0deg)" class="animated swing delay-2s" (click)="lesson()">開始靈修</ion-button>
    <ion-button color=success strong style="position: absolute; top:60%; left: 73%; transform: rotate(+0deg)" class="animated swing delay-4s" (click)="progress()">查看進度</ion-button>
    <ion-button color=warning strong style="position: absolute; top:78%; left: 64%; transform: rotate(-10deg)" class="animated swing delay-6s" (click)="tips()">小貼士</ion-button>
  </div>

</ion-content>
